:root {
  --body-background-color: #0c1b33;
  --body-text-color: #ffffff;
  --card-background-color: #14284b;
  --nav-background-color: #091528;
  --nav-border-bottom-color: #1e355d;
  --nav-current-border-bottom-color: #3b82f6;
  --card-border-color: #1e355d;
  --down-border-left-color: #ef4444;
  --down-background-color: #7f1d1d;
  --degraded-border-left-color: #f59e0b;
  --up-border-left-color: #10b981;
  --tag-color: #0c1b33;
  --tag-up-background-color: #10b981;
  --tag-down-background-color: #ef4444;
  --tag-degraded-background-color: #f59e0b;
  --change-background-color: #f59e0b;
  --error-button-border-color: #1e355d;
  --error-button-background-color: #3b82f6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1e355d;
  --submit-button-background-color: #3b82f6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, h1, h2, h3, h4, h5, h6, .nav, .card {
  font-family: 'Space Mono', monospace !important;
}

body {
  background-image: url('https://astron.live/assets/bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
}
